<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WealthUp</title>
    <!-- remove ../../ when i deploy online -->
    <link rel="stylesheet" href="public/css/styles.css">
      <!-- Linking Javascript file to my html-->
    <script src="wealthup.js" defer></script>
</head>


<body>
    <div class="wrapper">
       <!-- Navigation Bar-->
   <nav>
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="/Index">Home</a></li>
      <li><a href="/WealthUp">WealthUp</a></li>
      <li><a href="/challenges">Challenges</a></li>
    </ul>
  </nav>
  
    <header class="header">
        <h1>WealthUp</h1>
    </header>
    <main class="main-content">
    <section class="introduction">
    <h2>About WealthUp 🚀</h2>
        <p><span class=brandWealth>WealthUp</span> your go-to destination for mastering personal finance in the digital age! 
            <p> At WealthUp, we're on a mission to bridge the knowledge gap among Generation Z by transforming complex financial concepts into engaging and digestible content.</p>
            <p>We understand that navigating the world of personal finance can be overwhelming, especially with the abundance of information available online. That's why we've curated and gamified essential financial knowledge, categorizing it based on your life stages and financial goals.</p>
            <p>Whether you're saving for your first car, planning for college, or investing for the future, WealthUp is here to guide you every step of the way. </p>
            <p>Our personalized approach means that you'll receive customized weekly tasks tailored to your commitment level and current savings, ensuring that you stay on track to achieve your financial aspirations.</p>
        </p>
    </section>  
    <section class="target-audience">
        <h2>Who is this for?🧑🏻‍💻</h2>
    <ul class="target-audience2">
        <li>🙋🏻 Anyone under the age of 25 years old</li>
        <li>🙋🏻 Just landed your first corporate job</li>
        <li>🙋🏻 Felt overwhelmed by the vast array of financial information available online & have no time to filter out credible sources</li>
        <li>🙋🏻 Someone who is process driven and needs structure in their learning</li>
        <li>🙋🏻 Looking to improve your financial literacy while taking actions</li>
    </ul>
    </section>
    </main>

    <!-- The Disclaimer part of WealthUp -->
    <footer class="clearfix">
        <p>Disclaimer: This website is created for learning purposes only. 
    The information provided here should not be considered professional advice. 
    Please note that we make no guarantees regarding the accuracy, completeness, or 
    reliability of the contents of this website. Any actions you take based on the contents of 
    this website are at your own risk. We are not liable for any losses or damages incurred from 
    the use of this website.</p>
    </footer>

</div>
</body>
</html>