<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WealthUp</title>
    
    <!-- Linking CSS file to my html-->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Linking Javscript file to my html-->
    <script src="wealthup.js" defer></script>

</head>
<body>
    <!--Navigation Bar-->
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/Index">Home</a></li>
        <li><a href="/WealthUp">WealthUp</a></li>
        <li><a href="/challenges">Challenges</a></li>
      </ul>
    </nav>

    <!--Images-->
    <h1>Actionable Steps</h1>
    <h3>For Fresh Graduates with their first Pay Cheque</h3>
    <table>
        <thead>
            <tr>
                <th>Actionable Steps</th>
                <th>Week</th>
                <th>Status</th>
                <th>Verified Sources</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Research on High Yield Savings Account</td>
                <td>Week 01</td>
                <td>Pending</td>
                <td><a href="https://www.moneysense.gov.sg/planning-your-finances-well/first-job/"></a>MoneySense</td>
            </tr>
            <tr>
                <td>Budget this month expenses</td>
                <td>Week 02</td>
                <td>In Progress</td>
                <td><a href="https://blog.seedly.sg/seedly-money-framework-personal-finance-planning-guide/"></a>Seedly</td>
            </tr>
            <tr>
                <td>Calculate first home calculator using CPF website</td>
                <td>Week 03</td>
                <td>In Progress</td>
                <td><a href="https://www.cpf.gov.sg/member/tools-and-services/calculators/first-home"></a>CPF</td>
            </tr>
            <tr>
                <td>Set aside 3 to 6 months emergency savings</td>
                <td>Week 04</td>
                <td>Pending</td>
                <td>MoneySense</td>
            </tr>
        </tbody>
    </table>

   <!-- The Disclaimer part of WealthUp -->
   <footer><p>
    Disclaimer: This website is created for learning purposes only. 
    The information provided here should not be considered professional advice. 
    Please note that we make no guarantees regarding the accuracy, completeness, or 
    reliability of the contents of this website. Any actions you take based on the contents of 
    this website are at your own risk. We are not liable for any losses or damages incurred from 
    the use of this website.
  </p></footer>


</body>
</html>